@page
@using Shark.Sample.AuthorizationServer.Pages
@model IndexModel
@{
    ViewData["Title"] = "OAuth Authorization Server";
}

<div class="text-center">
    <h1 class="display-5">Shark OAuth Authorization Server</h1>
    <p>
        Welcome to Shark OAuth Authorization Server!
    </p>
    <p>
        This platform provides secure and reliable authorization services,
        allowing clients to access resources on behalf of users with confidence.
    </p>
</div>
