@page
@model IndexModel
@{
    ViewData["Title"] = "OAuth Client";
}

<div class="text-center">
    <h1 class="display-4">OAuth Client</h1>

    <div class="form-container">
        <form method="post" asp-page-handler="GetAuthToken">
            <label>Get OAuth token with Authorization Code grant type</label>
            <input type="submit" value="Get token" />
        </form>

        <form method="post" asp-page-handler="GetAuthTokenWithImplicit">
            <label>Get OAuth token with Implicit grant type</label>
            <input type="submit" value="Get token" />
        </form>

        <form method="post" asp-page-handler="GetData">
            <label>Get Data from Protected Resource</label>
            <input type="submit" value="Get Data" />
        </form>

        <form method="post" asp-page-handler="GetDataWithResourceOwnerCredentials">
            <label>Get Data from Protected Resource with Resource Owner Credentials grant type</label>
            <input type="submit" value="Get Data" />
        </form>

        <form method="post" asp-page-handler="GetDataWithClientCredentials">
            <label>Get Data from Protected Resource with Client Credentials grant type</label>
            <input type="submit" value="Get Data" />
        </form>
    </div>
    <br />
    @if (Model.Data is not null)
    {
        <div class="center-20">
            @foreach (var item in Model.Data)
            {
                <pre>
                    <span>@Html.DisplayFor(modelItem => item.Date):&nbsp;</span>
                    <span>@Html.DisplayFor(modelItem => item.TemperatureC)&degC&nbsp;</span>
                    <span>@Html.DisplayFor(modelItem => item.Summary)</span>
                </pre>
            }
        </div>
    }
</div>
