@page "/device"
@using Shark.Sample.AuthorizationServer.Pages.Device
@model DeviceModel
@{
    ViewData["Title"] = "OAuth 2.0 Authorization Server";
}

<div class="page-container">
    <div class="page-card">
        <h1 class="page-title">Shark OAuth 2.0 Authorization Server</h1>
        <p class="page-subtitle">Enter the code displayed on the screen of your device</p>

        <div class="form">
            <form method="post">
                <div class="form-group">
                    @Html.LabelFor(m => @Model.UserCode, "User Code", new { @class = "label" })
                    @Html.TextBoxFor(m => @Model.UserCode,
                        new { @class = "input", required = "required", autofocus = true, maxlength = 6 })
                    <br />
                    <span asp-validation-for="UserCode" class="text-danger"></span>
                </div>
                <br />
                <input type="submit" value="Submit" class="button" />
            </form>
        </div>
    </div>
</div>
