@page "/device"
@using Shark.Sample.AuthorizationServer.Pages.Device
@model DeviceModel
@{
    ViewData["Title"] = "OAuth Authorization Server";
}

<div class="device-container">
    <div class="device-card">
        <h1 class="device-title">Shark OAuth Authorization Server</h1>
        <p class="device-subtitle">Enter the code displayed on the screen of your device</p>

        <div class="device-form">
            <form method="post">
                <div class="form-group">
                    @Html.LabelFor(m => @Model.UserCode, "User Code", new { @class = "login-label" })
                    @Html.TextBoxFor(m => @Model.UserCode,
                        new { @class = "device-input", placeholder = "Enter user code", required = "required", maxlength = 6 })
                    <br />
                    <span asp-validation-for="UserCode" class="text-danger"></span>
                </div>
                <br />
                <input type="submit" value="Submit" class="device-button" />
            </form>
        </div>
    </div>
</div>
