@page
@model DeviceAuthorizeModel
@{
    ViewData["Title"] = "OAuth Authorization Server";
}

<div class="text-center">
    <h1 class="display-4">OAuth Authorization Server</h1>
    <p>Authorize your device</p>

    <form method="post">
        <input type="submit" value="Authorize" />
    </form>
</div>
