name: OAuth Server NuGet

permissions:
  contents: read
  packages: write
  id-token: write # Required for GitHub OIDC Trusted Publishing

on:
  push:
    branches:
      - main
    paths:
      - src/Shark.AuthorizationServer/**
      - src/Shark.AuthorizationServer.Common/**
      - src/Shark.AuthorizationServer.Core/**
      - src/Shark.AuthorizationServer.Domain/**
      - src/Shark.AuthorizationServer.DomainServices/**
      - src/Shark.AuthorizationServer.Repositories.InMemory/**
      - src/Shark.AuthorizationServer.Repositories.SqLite/**
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CI: true # Enable deterministic builds
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      OAUTH_GITHUB_PAT: ${{ secrets.OAUTH_GITHUB_PAT }}
      NUGET_USER: ${{ secrets.NUGET_USER }}
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore ./src/Shark.AuthorizationServer/Shark.AuthorizationServer.csproj

    - name: Build with dotnet
      run: dotnet build ./src/Shark.AuthorizationServer/Shark.AuthorizationServer.csproj --configuration Release --no-restore

    - name: Pack with dotnet
      run: dotnet pack ./src/Shark.AuthorizationServer/Shark.AuthorizationServer.csproj --configuration Release --no-restore --output ./nupkg /p:Version=0.1.0.${{ github.run_number }}

    - name: Add nuget source
      run: dotnet nuget add source --username linuxchata --password $GITHUB_TOKEN --store-password-in-clear-text --name github "https://nuget.pkg.github.com/linuxchata/index.json"

    - name: Push nuget to github.com
      run: dotnet nuget push "./nupkg/Shark.AuthorizationServer.*.nupkg" --api-key $OAUTH_GITHUB_PAT --source "github" --skip-duplicate

    - name: Login to nuget.org
      uses: NuGet/login@d22cc5f58ff5b88bf9bd452535b4335137e24544 #v1
      id: nuget-login
      with:
        user: ${{ env.NUGET_USER }}

    - name: Push packages to nuget.org
      run: dotnet nuget push "./nupkg/Shark.AuthorizationServer.*.nupkg" --api-key ${{ steps.nuget-login.outputs.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
