name: Deploy

on:
  push:
    branches:
      - main
    paths:
      - src/**
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Build with dotnet
        run: dotnet build ./src/Shark.Sample.AuthorizationServer/Shark.Sample.AuthorizationServer.csproj --configuration Release

      - name: dotnet publish
        run: dotnet publish ./src/Shark.Sample.AuthorizationServer/Shark.Sample.AuthorizationServer.csproj --configuration Release -o ${{env.DOTNET_ROOT}}/myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app

      - name: Login to Azure
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 #v2.3.0
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_25B6BF5098E742C0A6A21DC77D35A038 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_7137EF529D2E4E50A1EFE68BD5652E76 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_7E0FF5886D4E438D985E1569406A8D83 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@122b7ec46017e53a3f71e3a027d67550a1641f5e #v2.2.17
        with:
          app-name: 'app-auth-dev-01'
          slot-name: 'Production'
          package: .
