name: Scan OAWSP

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: ZAP Scan
        uses: zaproxy/action-full-scan@3c58388149901b9a03b7718852c5ba889646c27c #v0.13.0
        with:
          target: 'https://app-auth-dev-01.azurewebsites.net/'
          allow_issue_writing: false
